*{
    font-family: fantasy;
}

body{
    font-size: 24px;
}

/* p:hover{
    font-family: monospace;
} */

#first{
    color: red;
}

#second{
    color: blue;
}

/* #first>p{
    color: green;
} */

.purple{
    color: purple;
    /* font-family: monospace; */
}

.highlight{
    background-color: yellow;
    font-weight: bolder;
    font-style: italic;
}