/* * {
    margin: 0;
    padding: 0;
} */

body{
    /* font-family: 'Silkscreen', sans-serif; */
    /* font-weight: 900; */
}

h1 {
    /* color: blue; */
    /* text-decoration: underline; */
    /* text-decoration-color: aqua; */
    /* text-decoration-style: wavy; */
    /* color: transparent; */
    /* text-shadow: 2px 2px 1px red, 3px 3px 1px blue ; */
    /* font-weight: 400; */
} 

P {
    /* text-align: center; */
    /* text-indent: 100px; */
    /* letter-spacing: 0.1rem; */
    /* line-height: 2rem; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-size: 1.2rem; */
    /* font-weight: 700; */
    /* font-style: italic; */
} 

a {
   /* color: blue;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-style: wavy; */
}