*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    display: inline-block;
    color: green;
    width: 200px;
    height: 30px;
}

a{
    width: 100px;
    display: inline-block;
}

ul{
    list-style: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

li{
    display: inline;
    padding: 20px;
}

li:hover{
    color: aqua;
    cursor: pointer;
}

img{
    display: none;
    width: 100px;
}