.container{
    /* width: 250px; */
    /* height: 250px; */
    border: 2px solid red;
    /* overflow: visible; */
    /* overflow: auto; */
    /* overflow: scroll; */
    /* overflow: hidden; */
}

.p1{
    border: 2px solid green;
    clear: right;
    
}

.img1 {
    float: right;
    margin-left: 40px;
}

.img2 {
    float: left;
}

.p2{
    clear: right;
}